{% extends "base.html" %}

{% block content %}
    <h1>Issued Equipment</h1>
	{% if msg %}
      <div id="errormsg">
	  {% for err in msg %}
		{{ err }}<br>
	  {% endfor %}
	  </div>
    {% endif %}

		<form action="/deletedissuedequipment" method="POST">
		
			<input type="submit" value="Delete Issued Equipment" />
			
			<input type="hidden" name="IssuedEquipmentID" value="{{ issuedequipment.IssuedEquipmentID }}" />
			
		</form>
		<br>
		<a href="/issuedequipments">Return to Issued Equipment Table</a>
{% endblock %}