{% extends "base.html" %}

{% block content %}
    <h1>Issued Equipment Table</h1>
		<a href="newissuedequipment">Issue Equipment</a>
		<br><br>
		<table>
		<tr>
			<td>Equiment ID</td>
			<td>User ID</td>
			<td>Issue Date</td>
			<td>Return Date</td>
			<td>Date Returned</td>
			<td>Date Replaced</td>
			<td>Equipment Status</td>
		</tr>
    {% for issuedequipment in issuedequipments %}
		<tr>
			<td>{{ issuedequipment.EquipmentID }}</td>
			<td>{{ issuedequipment.UserID }}</td>
			<td>{{ issuedequipment.IssueDate }}</td>
			<td>{{ issuedequipment.ReturnDate }}</td>
			<td>{{ issuedequipment.DateReturned }}</td>
			<td>{{ issuedequipment.DateReplaced }}</td>
			<td>{{ issuedequipment.EquipmentStatus }}</td>
		</tr>
    {% endfor %}
	</table>
{% endblock %}