{% extends "base.html" %}

{% block content %}
    <h1>Issued Equipment</h1>
	{% if msg %}
      <div id="errormsg">
	  {% for err in msg %}
		{{ err }}<br>
	  {% endfor %}
	  </div>
    {% endif %}
		
		<form action="/newissuedequipment" method="POST">
			
			Equipment ID:<br>
			<select name="EquipmentID">
			{% for equipment in il %}
				<option value="{{ equipment.EquipmentID }}">{{ equipment.EquipmentName }}</option>
			{% endfor %}
			</select>
			<br><br>
			
			User ID:<br>
			<select name="UserID">
			{% for user in ul %}
				<option value="{{ user.UserID }}">{{ user.UserFName }} {{ user.UserLName }}</option>
			{% endfor %}
			</select>
			<br><br>
			
			Issue Date:<br>
			<input type="date" name="IssueDate"  /><br><br>
			
			Return Date:<br>
			<input type="date" name="ReturnDate"  /><br><br>
			
			Date Returned:<br>
			<input type="date" name="DateReturned"  /><br><br>
			
			Date Replaced:<br>
			<input type="date" name="DateReplaced"  /><br><br>
			
			Equipment Status:<br>
			<select name="EquipmentStatus">
				<option value="Issued">Issued</option>
				<option value="Lost">Lost</option>
				<option value="Retired">Retired</option>
				<option value="Returned">Returned</option>
			</select>
			<br><br>
			
			<input type="submit" value="Issue Equipment"/>
			
		</form>
{% endblock %}