{% extends "base.html" %}

{% block content %}
    <h1>Attendance Records</h1>
		<a href="newattendance">Add New Record</a>
		<br><br>
		<table>
		<tr>
			<td>Attendance ID</td>
			<td>Attendance Status</td>
			<td>Attendance Record</td>
			
		</tr>
    {% for attendance in attendances %}
		<tr>
			<td><a href="attendance?AttendanceID={{ attendance.AttendanceID }}">{{  attendance.AttendanceID  }}</a></td>
			<td>{{ attendance.AttendanceStatus }}</td>
			<td>{{ attendance.UserEvaluation }}</td>
		</tr>
    {% endfor %}
	</table>
{% endblock %}